body{
    background-color: rgba(127, 255, 212, 0.664);
    display: flex;
    justify-content: center;
}
fieldset{
    display: grid;
}
label{
    font-size: 30px;
    justify-content: center;
}
legend{
    font-size: 40px;
}
